*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Lato', sans-serif; 
}

ul{
  list-style: none;
}

.logo{
  background-color: #2b2b2b;
  color: white;

  font-size: 8rem;
  font-weight: bold;

  text-align: center;
}

.container{
  position: relative;
  width: 70%;
  max-width: 1000px;

  margin: 32px auto;
  padding: 32px;
  background-color: #d4d4d4;
  border: 1px solid #2b2b2b;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
}

/* NEW TASK */
/* ------------------------------------------------ */
.new-task{
  text-align: center;
  margin-bottom: 32px;
}

.new-task input,
.new-task button{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  padding: 8px 16px;
  border: 1px solid #2b2b2b;
  color: #2b2b2b;
}

.new-task input{
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-right: none;
}

.new-task button{
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  cursor: pointer;

  background-color: white;
  color: #2b2b2b;

  transition: 0.3s;
}

.new-task button:hover{
  background-color: #2b2b2b;
  color: white;
}
/* ------------------------------------------------ */


/* TASK LIST */
/* ------------------------------------------------ */
.task-container li{
  border-bottom: 1px solid #2b2b2b;
  padding: 8px 32px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Caveat', cursive;
  font-size: 2rem;

  cursor: pointer;

  transition: 0.3s;
}

.task-container li:hover{
  background-color: #eeeeee;
}

.task-container li span.line-through{
  text-decoration: line-through;
}

.task-container li i{
  transition: 0.3s;
}

.task-container li i:hover{
  color: red;
}

.dont-task{
  text-align: center;
}

.task-container h3{
  text-align: center;
}
/* ------------------------------------------------ */
.error-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.error{
  margin: 8px 0;
  padding: 16px;
  background-color: #f1d1cb;
  border: 2px solid rgb(255, 66, 66);
  border-radius: 16px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.error .fa-triangle-exclamation{
  font-size: 3rem;
  vertical-align: middle;
}

.error span{
  font-weight: bold;
  vertical-align: middle;
  padding: 0px 16px;
}

.error .fa-xmark{
  width: 32px;
  aspect-ratio: 1/1;
  line-height: 32px;
  vertical-align: middle;
  border-radius: 8px;

  transition: 0.3s;
  cursor: pointer;
}

.error .fa-xmark:hover{
  background-color: white;
}

/* TRANSITION VUE */
.v-enter-active {
  animation: bounce-in 0.5s;
}
.v-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}